<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container mt-5">

    <form class="form-horizontal" action="/employee/" method="POST" novalidate> {% csrf_token %}
        <fieldset>
            {{ field.errors }}
            <!-- Form Name -->
            <legend>Form Name</legend>

            <input type="hidden" value='{{employee.id}}' name="id">

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fname">Enter First
                    Name</label>
                <div class="col-md-4">
                    {{form.name}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Enter Email
                </label>
                <div class="col-md-4">
                    {{form.email}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="contact">Enter Contact</label>
                <div class="col-md-4">
                    {{form.contact}}
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-success my-2 my-md-0 bg-dark">Save
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

    <h2>Employees List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>MAIL</th>
            <th>CONTACT</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.contact}}</td>
            <td><a href="/employee/modify/{{employee.id}}">Edit</a>
                <a href="/employee/delete/{{employee.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
